<footer class="">
    <div class="wrapper">
        <label>
            <p class="copy_right">&copy; 2022 NEMUKE All Rights Reserved. | <a href="/general/question">お問い合わせ</a></p>
            <p>本サイトに起因して、利用者ならびに第三者に生じた損害について、管理者は一切の責任を負いかねます。</p>
            <p>The administrator takes no resposibility for any damages that might occur during your use of Web sites.</p>
        </label>
    </div>
</footer>