<div class="notice_wrapper">
    <div class="z_index_ajuster">
        <div class="notice_title">
            <%= title %> 
        </div>
    </div>
    <div class="notice_message">
        <%= message %> 
    </div>
</div>